body {
  background: #e8f0ff;
}
.controls{
  border-radius: 5%;
}
#main {
    width: 20%;
    height: 75vh;
    background: #bccae0;
    border-radius: 5%;
    float: left;
}
#canvas {
    background: #e8f0ff;
    margin-left: 20%;
    height: 100vh;
}
#turtle {
    background: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    left: 50%;
}

.button{
  border-radius: 5%;

  position: relative;
  left: 5%;
  width: 90%;

  height: 10%;

}
#up{
  top: 5%;
  background: #c8a8d8;
}

#down{
  top: 5%;
  background: #93f2a9;
}

#left{
  top: 5%;
  background: #f29b93;
}

#right{
  top: 5%;
  background: #f2eb93;
}
